* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.background {
    background-image: url("../public/images/headerbg.jpg");
    background-size: cover;
    height: 600px;
    width: 100%;
}

.nav {
    position: relative;
}

.homenav::after {
    content: '';
    width: 4px;
    height: 4px;
    background: #FFF;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    margin-left: 52px;
    margin-top: 24px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;